<section class="accounts">
    <div class="text_container">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 leftPanel">

                    <h2> {{ 'Ordering And Payment' | translate }}<span class="font-weight-bold"></span></h2>
         <p>
            {{ 'HowcanIapplyonline' | translate }} 
         </p>
         <p>
            {{ 'HowcanIapplyonlineans' | translate }}
         </p>
         <p>
            {{ 'severalformsofpayment' | translate }}
         </p>
         <p>
           - {{ 'severalformsofpayment1' | translate }}
         </p>
         <p>
          -  {{ 'severalformsofpayment2' | translate }}
         </p>
         <p>
            -  {{ 'severalformsofpayment3' | translate }}
           </p>
           <p>
            -  {{ 'severalformsofpayment4' | translate }}
           </p>
           <p>
             {{ 'myorder?' | translate }}
           </p>
           <p>
            {{ 'myorderans' | translate }}
          </p>
                </div>
            </div>
        </div>
    </div>

</section>