<section class="accounts">
    <div class="text_container">
        <div class="container">

            <div class="row">
                <div class="col-xl-12 leftPanel">
                    <h2>{{'paymentsMethods' | translate}} <span class="font-weight-bold"></span></h2>
                    <p class="small"> {{'pm-all' | translate}} </p>
                    <p class="small"> {{'pm-applePay' | translate}} </p>
                    <p class="small"> {{'pm-otherPys' | translate}} </p>
                    <p class="small"> <b>{{'Cash/Card on delivery (COD)' | translate}} </b> {{'pm-cod' | translate}} </p>
                    <p class="small"> <b>{{'Freight on delivery (FOD)' | translate}} </b> {{'pm-fod' | translate}} </p>
                    <p class="small"> <b>{{'Out of delivery area (ODA)' | translate}} </b> {{'pm-oda' | translate}} </p>
                    <p class="small"> <b>{{'Insurance' | translate}} </b> {{'pm-ins' | translate}} </p>
                    <p class="small"> <b>:{{'Hold for consignee collection of the shipment' | translate}} </b> {{'pm-hccs' | translate}} </p>
                </div>

            </div>
        </div>
    </div>
</section>