<main>
    <section class="story-banner">
        <img src="assets/layout/images/hero_banner.jpg" alt="our story" />
        <div class="title_container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>
                            {{ 'HowDunyanaworks' | translate }}?</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="master_text">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ 'HowDunyanaworks' | translate }}?</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="history">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <h2>Have a rewarding shopping experience by following <br> 3 simple steps: </h2> -->
                    <h2>{{ 'howdunyanadata' | translate }} <br> {{ 'dunyana 3steps' | translate }}</h2>
                    <ul class="hist_line">
                        <li class="y93">
                            <div>
                                <p>{{ 'Register with Dunyana' | translate }}</p>
                            </div>
                        </li>
                        <li class="y15">
                            <div>
                                <p>{{ 'Select your favorite brand and product' | translate }}</p>
                            </div>
                        </li>
                        <li class="y17">
                            <div>
                                <p>{{ 'Place your order' | translate }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="steps">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>{{ 'Once you have completed these simple steps' | translate }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ 'Smoothly Delivery' | translate }} </h4>
                    <p>{{ 'We will ensure smoothly delivery of your items' | translate }}  </p>
                </div>

                <div class="col-md-3">
                    <h4>{{ 'Cash On Delivery' | translate }}</h4>
                    <p>{{ 'You may pay for your order after you have received your goods' | translate }}  </p>
                </div>

                <div class="col-md-3">
                    <h4>{{ 'Dunyana Wallet' | translate }}</h4>
                    <p>{{ 'Credit 5% of your purchases into your Dunyana wallet' | translate }}  </p>
                </div>

                <div class="col-md-3">
                    <h4>{{ 'Track Your Order' | translate }}</h4>
                    <p>{{ 'You may track your order using our platform' | translate }}  </p>
                </div>
            </div>
        </div>
    </section>
</main>