<section class="accounts">
    <div class="text_container">
        <div class="container">

            <div class="row">
                <div class="col-xl-12 leftPanel">

                    <h3>{{'FAQ' | translate}} ({{'Frequently Asked Questions' | translate}})<span class="font-weight-bold"></span></h3>
                    
                    <div> 
                        <h3> {{ 'faq1' | translate}} </h3> 
                        <p class="small"> {{ 'faqAns1' | translate}} </p> 
                    </div>
                    <div>
                        <h3> {{ 'faq2' | translate}} </h3>
                        <p class="small"> {{ 'faqAns2' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq3' | translate}} </h3> 
                        <p class="small"> {{ 'faqAns3' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq4' | translate}} </h3> 
                        <p class="small"> {{ 'faqAns4' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq5' | translate}} </h3>
                        <p class="small"> {{ 'faqAns5' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq6' | translate}} </h3>
                        <p class="small"> {{ 'faqAns6' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq7' | translate}} </h3>
                        <p class="small"> {{ 'faqAns7' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq8' | translate}} </h3>
                        <p class="small"> {{ 'faqAns8' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq9' | translate}} </h3>
                        <p class="small"> {{ 'faqAns9' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq10' | translate}} </h3>
                        <p class="small"> {{ 'faqAns10' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq11' | translate}} </h3>
                        <p class="small"> {{ 'faqAns11' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq12' | translate}} </h3>
                        <p class="small"> {{ 'faqAns12' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq13' | translate}} </h3>
                        <p class="small"> {{ 'faqAns13' | translate}} </p> 
                    </div>
                    <div> 
                        <h3> {{ 'faq14' | translate}} </h3>
                        <p class="small"> {{ 'faqAns14' | translate}} </p> 
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>