
.bannerimgsty{
    height: 100px;
    height: 100px;
    width: 350px;
    cursor: pointer;
}
.oldbannerimgsty{
    height: 100px;
    height: 100px;
    width: 350px;
    cursor: pointer;
}
.btn.back
{
    height: 30px;
    margin-top:0;
}
.upload_input ~ .line_btn
{
    position: absolute;
    right: 15px;
    height: 30px;
    top: -5px;
}
.upl_btn + img[src=""]
{
    display:none;
}

.upl_btn + img
{
    position: absolute;
    right: 133px;
    top: -24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.admin_promo, .admin_promo_add
{
    .pagination 
    {
        margin: 10px 0 0;
    }
}

.none {
    display: none;
}

.from_wrapper
{
    input[type="text"], textarea
    {
        padding: 0;
        margin-bottom: 20px;
        width:100%;
        border-bottom: solid 1px #ccc;
        font-size:20px;
        color: #4f5b69;
    }
    textarea
    {
        border:solid 1px #ccc;
        padding:10px;
        min-height: 80px;
    }
    .btns {
       width:100%;
       left: 0;
       bottom:20px;
       text-align:   center;
      margin-left: 0;
        .line_btn {
            height:47px;
            &.sblue {
                background-position: center 33px;
                background-color: #00c0f3;
                padding-top:3px;
                background-image: url('../../../../../assets/layout/images/line_white.png');
                background-repeat: no-repeat;
                border: none;
                outline: none;
                color: #fff;
                width: 200px;
                margin:20px 10px 0;
                border-radius: 20px;
                font-size:16pt;
                border: 1px solid transparent;
                text-align: center;
                &:hover {
                    background-position: center 33px;
                    outline: none;
                    background-color: #ffffff;
                    color: #00c0f3;
                    border: 1px solid #03A9F4;
                    background-image: url('../../../../../assets/layout/images/line_blue.png');
                }
            }
        }
    }
}
.profile
{
    height: 95%  !important;
}

.ht-auto img.uploadimgsty{
    border-radius: 100%;
  width: 80px;
   height: 80px;
   padding:0;
  }
  .upldbtnsty{
     background-color: #5f5a5a;
     height: 28px;
     padding: 0;
     margin-top: 10px;
     float: right;
  }
 
  .ht-auto img.uploadimgsty2{
     border-radius: 100%;
    width: 80px;
    height: 80px;
    display: none;
    padding:0;
   }
  
  
   .ht-auto img.uploadimgsty1{
     border-radius: 100%;
    width: 80px;
    height: 80px;
    display: none;
   }

  

 .mid{
    position: absolute;
    transform: translate(-50% -50%);
    z-index: 1;
  }

  .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 0;
    left: 0;
    top: 0;
  }

  .errormsg
{
    right: 0;
    position: absolute;
    bottom:5px;
    text-align: center;
    width:100%;
}
  .succsmsg{  
    right: 0;
    position: absolute;
    bottom:5px;
    text-align: center;
    width:100%;
}
.text-danger{
    font-size: 13px;
    float: left;
    padding: 10px;
}

.imgsty{
    width: 50px;
}


//===================================pagination

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

a {
    cursor: pointer;
}

.pagination {
    margin: 0px 0 0px;
    float: right;
}

.pagination>li>a {
    color: #00c0f3;
    background-color: #fff;
    border: none;
    font-size: 18pt;
}

.pagination>li.active>a {
    color: #00c0f3;
    font-weight: bold;
}

.pagination>li:first-child>a,
.pagination>li:last-child>a {
    background-color: #fff;
    border: none;
    visibility: hidden;
    display: none;
}

.pagination>li:nth-child(2)>a,
.pagination>li:nth-last-child(2)>a {
    background-color: #fff;
    border: none;
    visibility: hidden;
}

.pagination>li:nth-child(2)>a:after {
    content: "\003e";
    color: #00c0f3;
    font-size: 32pt;
    visibility: visible;
    display: block;
    position: absolute;
    font-weight: bold;
    top: -2pt;
    right: 10pt;
    transform: rotate(180deg);
}

.pagination>li:nth-last-child(2)>a:after {
    content: "\003e";
    color: #00c0f3;
    font-size: 32pt;
    visibility: visible;
    display: block;
    position: absolute;
    font-weight: normal;
    top: -3pt;
    left: 8pt;
}

.pagination>li:nth-last-child(2)>a {
    padding: 0;
    width: 35px;
}

.pagination>li.disabled>a:after {
    color: #cacdd2;
}

.links_det
{
    padding-bottom: 40px !important;
}

.delete_btn_cont{
    text-align: center;
}

.mid{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    z-index: 1;
  }

  .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 0;
    left: 0;
    top: 0;
  }

  .line_btn {
    &.sblue {
         background-color:transparent;
         border:none;
         outline: none;

             &:hover {

        }
     
    }  
}

.no-orders{
    color: #02a7d4;
    font-weight: bold;
    font-size: 22pt; 
    text-align: center;
}

::ng-deep.ui-datepicker-buttonbar > div.ui-g div:first-child {
    display: none;
}

::ng-deep.ui-datepicker-buttonbar > div.ui-g div:last-child {
   float: right;
}
.back{
        margin-top: -19px;
        font-size: 15px;
}
.pcalfooter{
    float: right;
}
.pcalfooterFilter{
    float: left;
}


h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: #4f5b69;
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}