<main>
    <section class="story-banner">
        <img src="{{storybanner}}" alt="our story" />
        <div class="title_container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>{{ 'Ourstory' | translate }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="master_text">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ 'About Us' | translate }}</h2>
                    <p>{{'aboutusstory' | translate}} </p>
                </div>
            </div>
        </div>
    </section>
    <section class="history">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ 'About Us' | translate }}</h2>
                    <ul class="hist_line">
                        <li class="y93">
                            <div>
                                <p>1993<br>{{ '1993HALAExpressisformed' | translate }}</p>
                            </div>
                        </li>
                        <li class="y94">
                            <div>
                                <p>1994<br>{{ '1994' | translate }}</p>

                                <!-- <p>1994<br>HALA Express operations <br>starts with a fleet of +150<br> vehicles.</p> -->
                            </div>
                        </li>
                        <li class="y05">
                            <div>
                                <!-- <p>2005<br>A joint-venture between Saudi Post <br>[51%] and Arabian Hala
                                    Company<br>[49%], forming Naqel.</p> -->
                                <p>2005<br>{{ '2005' | translate }}</p>
                            </div>
                        </li>
                        <li class="y14">
                            <div>
                                <!-- <p>2014<br>NAQEL was granted<br>Courier licnce from the<br>Saudi authorities[1of 7
                                    companies].</p> -->
                                <p>2014<br>{{ '2014' | translate }}</p>
                            </div>
                        </li>
                        <li class="y15">
                            <div>
                                <!-- <p>2015<br>Courier licnce-UAE<br>NAQEL airport facilities in <br>Dammam [10,000 SQM].
                                </p> -->
                                <p>2015<br>{{ '2015' | translate }}
                                </p>
                            </div>
                        </li>
                        <li class="y16">
                            <div>
                                <!-- <p>2016<br>Operations Set-up in<br>Qatar and Bahrain.</p> -->
                                <p>2016<br>{{ '2016' | translate }}</p>

                            </div>
                        </li>
                        <li class="y17">
                            <div>
                                <!-- <p>2017 - 2018<br>Expansion into Oman, Kuwait <br />Jordan, Egypt, Lebanon, UK <br /> &
                                    China</p> -->
                                <p>2017 - 2018<br>>{{ '2017-2018' | translate }}</p>
                            </div>
                        </li>
                        <li class="y18">
                            <div>
                                <!-- <p>2018<br>8000 SQM <br />gateways at<br />Riyadh & Jeddah <br /> airports.</p> -->
                                <p>2018<br>8000 SQM <br />{{ '2018' | translate }}</p>

                            </div>
                        </li>
                    </ul>
                    <ul class="hl_badges">
                        <li>
                            <img src="assets/layout/images/story_shipments.jpg" alt="Shipments  handled" />
                            <p>shipments handled</p>
                        </li>
                        <li>
                            <img src="assets/layout/images/story_employees.jpg" alt="Shipments  handled" />
                            <p>happy employees</p>
                        </li>
                        <li>&nbsp;</li>
                        <li>
                            <img src="assets/layout/images/story_facilities.jpg" alt="Shipments  handled" />
                            <p>integrated facilities</p>
                        </li>
                        <li>
                            <img src="assets/layout/images/story_vehicle.jpg" alt="Shipments  handled" />

                            <p>vehicle fleet</p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="mission">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ 'Our Mission' | translate }}</h2>
                    <p>{{'our-story-mission' | translate}}</p>
                </div>
            </div>
        </div>
    </section>
</main>