<section class="mission">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <h2>{{'shipping' | translate}}<span class="font-weight-bold"></span></h2>
                <p class="small"> {{'shpTxt1' | translate}} </p><br>
                <p class="small"> {{'shpTxt2' | translate}} </p><br>
                <p class="small"> {{'shpTxt3' | translate}} </p><br>
                <p class="small"> {{'shpTxt4' | translate}} </p><br>
                <p class="small"> {{'shpTxt5' | translate}} </p>
            </div>
        </div>
    </div>
</section>