<p-tabView [hidden]="childMessage">
  <p-tabPanel header="Current Deals">

    <div>

      <button type="button" (click)="AddorUpdateclick('A','null')" pButton label="Add"
        class="btn btn-primary float-right" class="line_btn swhite add_btn pull-right" [disabled]="showAdd"></button>
      <div class="ui-g radio_container">
        <div class="ui-g-12">
          <p-radioButton name="group1" value="Arabic" label="Arabic" [(ngModel)]="dlang" inputId="preopt2"
            (onClick)="selectedLang()"></p-radioButton>

          <p-radioButton name="group1" value="English" label="English" [(ngModel)]="dlang" inputId="preopt1"
            (onClick)="selectedLang()"></p-radioButton>
        </div>
      </div>

      <div *ngIf="dlang==='Arabic'">
        <div *ngFor="let bnr of bannerslist" class="mb-3 bnr_cont">
          <div *ngIf="bnr.arabicImage!=''">
            <img class="bannerimgsty" [src]="bnr.arabicImage" (click)="AddorUpdateclick('U',bnr)">
          </div>

        </div>
      </div>
      <div *ngIf="dlang==='English'">
        <div *ngFor="let bnr of bannerslist" class="mb-3 bnr_cont">
          <div *ngIf="bnr.englishImage!=''">
            <img class="bannerimgsty" [src]="bnr.englishImage" (click)="AddorUpdateclick('U',bnr)">
          </div>
        </div>
      </div>
      <div class="float-right">
        <span>Note: Each Merchant can add three deals maximum.</span>
      </div>
    </div>


  </p-tabPanel>
  <p-tabPanel header="Old Deals">

    <div class="pull-right from_wrapper oldBnrCal" style="width:300px">
      <p-calendar #rcalendar [(ngModel)]="rangeDates" selectionMode="range" [monthNavigator]="true"
        [yearNavigator]="true" [readonlyInput]="true" (onSelect)="checkrangedates()" yearRange="2000:2030"
        [readonlyInput]="false" placeholder="Select created date" dateFormat="mm-dd-yy" [showIcon]="true">
        <p-footer>
          <button pButton type="button" label="Filter" class="pcalfooterFilter" [disabled]="Isdaterangeselect"
            (click)="rcalendar.hideOverlay();filterDates();">
          </button>
          <button pButton type="button" label="Clear" class="pcalfooter" (click)="rcalendar.hideOverlay();clear()">
          </button>
        </p-footer>
      </p-calendar>
    </div>
    <div>

      <!-- <h5>Old Banners</h5> -->
      <div class="ui-g radio_container">
        <div class="ui-g-12">
          <p-radioButton name="group2" value="Arabic" label="Arabic" [(ngModel)]="doldlang" inputId="preopt2"
            (onClick)="selectedoldLang()"></p-radioButton>

          <p-radioButton name="group2" value="English" label="English" [(ngModel)]="doldlang" inputId="preopt1"
            (onClick)="selectedoldLang()"></p-radioButton>
        </div>
      </div>

      <div *ngIf="doldlang==='Arabic'">
        <div *ngFor="let bnr of pagedItems" class="mb-3 bnr_cont">
          <img class="oldbannerimgsty" [src]="bnr.arabicImage" (click)="AddorUpdateclick('O',bnr)">
        </div>
      </div>
      <div *ngIf="doldlang==='English'">
        <div *ngFor="let bnr of pagedItems" class="mb-3 bnr_cont">
          <img class="oldbannerimgsty" [src]="bnr.englishImage" (click)="AddorUpdateclick('O',bnr)">
        </div>
      </div>
      <!-- pager -->
      <div class="col-md-12 text-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="pager.currentPage === 1?'': setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="pager.currentPage === pager.totalPages?'':setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>

      </div>

    </div>
    <div [hidden]="noolddeals" class="no-orders"><span>No deals found</span></div>

  </p-tabPanel>

</p-tabView>




<div [hidden]="!childMessage">
  <div class="addBnr">
    <h4 style="width:50%; float:left">{{header}} Deal</h4>
    <button class="line_btn blue edit back" (click)="RedirectTobannerList()">Back</button>
    <div style="width:100%; float:left">
      <form class="from_wrapper" class="from_wrapper" [formGroup]="bannerForm" novalidate>
        <div class="row inputset">
          <div class="col-sm-12">
            <input style="cursor:default" [ngClass]="deletebtndisable" pInputText type="text" autofocus
              placeholder="Upload English Image" id="reqCR">
            <input type="file" accept="image/x-png,image/gif,image/jpeg" #euploader (click)="euploader.value = null"
              (change)="engfileChangeEvent($event)" class="" [hidden]=true />

            <button type="button" (click)="euploader.click()" pButton label="Upload " class="btn btn-primary"
              class="line_btn swhite add_btn pull-right" [ngClass]="deletebtndisable"></button>
            <div>
              <img class="imgsty" [src]="deals.EnglishImage" />
            </div>
          </div>
        </div>
        <div class="row inputset">
          <div class="col-sm-12">
            <input style="cursor:default" [ngClass]="deletebtndisable" pInputText type="text" autofocus
              placeholder="Upload Arabic Image" id="reqCR">

            <input type="file" accept="image/x-png,image/gif,image/jpeg" #auploader (click)="auploader.value = null"
              (change)="fileChangeEvent($event)" class="" [hidden]=true />

            <button type="button" (click)="auploader.click()" [ngClass]="deletebtndisable" pButton label="Upload "
              class="btn btn-primary" class="line_btn swhite add_btn pull-right"></button>
            <div>
              <img class="imgsty" [src]="deals.ArabicImage" />
            </div>
          </div>
        </div>

        <div class="row inputset">
          <div class="col-sm-12">
            <input pInputText type="text" autofocus placeholder="URL" formControlName="BannerURL"
              [ngClass]="deletebtndisable" [(ngModel)]="deals.DealURL">
          </div>
        </div>
        <div class="row inputset">
          <div class="col-sm-12">
            <input pInputText type="text" autofocus placeholder="Name *" formControlName="Name"
              [ngClass]="deletebtndisable" [(ngModel)]="deals.DealName">
          </div>
        </div>

        <div class="row inputset" style="margin-bottom:30px;">
          <div class="col-sm-12">

            <p-multiSelect [ngClass]="deletebtndisable" defaultLabel="Choose countries *"
              [panelStyle]="{minWidth:'12em'}" [options]="countries" formControlName="Countries">
            </p-multiSelect>

          </div>

        </div>

        <div class="row inputset justify-content-between" style="margin-bottom:30px;">
          <div class="col-sm-5">
            <div class="">
              <p-calendar [ngClass]="deletebtndisable" #scalendar placeholder="Start Date *" (onInput)="checkdates()"
                [minDate]="minimumDate" [showIcon]="true" [showTime]="true" formControlName="StartDate"
                [(ngModel)]="deals.StartDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040">
                <p-footer>
                  <button pButton type="button" label="Close" class="pcalfooter"
                    [disabled]="deals.StartDate!=null?false:true" (click)="checkdates();scalendar.hideOverlay();">
                  </button>
                </p-footer>
              </p-calendar>
            </div>

          </div>
          <div class="col-sm-5 ">
            <div class="">
              <p-calendar #ecalendar placeholder="End Date *" (onSelect)="checkdates()" [showIcon]="true"
                (onInput)="checkdates()" [showTime]="true" [minDate]="minimumendDate" formControlName="EndDate"
                [(ngModel)]="deals.EndDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"
                [ngClass]="tocaldisable">
                <p-footer>
                  <button pButton type="button" label="Close" class="pcalfooter"
                    [disabled]="deals.EndDate!=null?false:true" (click)="checkdates();ecalendar.hideOverlay();">
                  </button>
                </p-footer>
              </p-calendar>
            </div>

          </div>
        </div>

        <div class="row inputset">
          <div class="col-sm-12">
            <textarea [ngClass]="deletebtndisable" pTextarea autofocus placeholder="Description"
              formControlName="BannerDescription" maxlength="200" [(ngModel)]="deals.DealDescription"
              name="Description"></textarea>

          </div>
          <div class="col-sm-12">

            <small style="float: right;">Max 200 characters</small>
          </div>
        </div>


        <div>
          <div class="btn_cont" [hidden]="Isoldbanner">
            <a href="javascript:void(0)" style="width:60px; text-align: center" class="line_btn sblue mr-5"
              (click)="SaveAddorUpdate(header)" [ngClass]="btndisable">{{header}}</a>
            <a href="javascript:void(0);" (click)="RedirectToList(secondbtn)" [ngClass]="deletebtndisable"
              class="line_btn sblue">{{secondbtn}}</a>
          </div>
          <div [ngClass]="responsesty">
            <span>{{response}}</span>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="loading-indicator mid" *ngIf="ProgressSpinnerDlg">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="overlay" *ngIf="ProgressSpinnerDlg"></div>


<div class="changepassword">
  <p-dialog header="delete banner" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '641px'}"
    [closeOnEscape]="true" (onHide)="onClose()">

    <h2>{{informationdialog}}</h2>

    <div class="delete_btn_cont" [hidden]="isdeletedialog">
      <a href="javascript:void(0)" style="width:60px; text-align: center" [ngClass]="btndisable"
        class="line_btn sblue mr-4" (click)="ConfirmDeletebanner()">Yes</a>
      <a href="javascript:void(0);" (click)="closedialog()" class="line_btn sblue">No</a>

    </div>

    <div>
      <div [ngClass]="responsesty">
        <span>{{deleteresponse}}</span>
      </div>
    </div>
  </p-dialog>
</div>